extends ../layout
block content
    .container.my-5
      .row
        .col-md-6
          img.img-fluid(src="https://via.placeholder.com/500x500", alt="Product Image")
        .col-md-6
          h2 [Sample] Orbit Terrarium - Small
          p
            strong SKU:
            |  OTS
          p
            strong Price:
            |  $89.00
          p
            strong Description:
          div
            p This strikingly beautiful terrarium will make a welcome addition to your home bringing some green to the scene. A handblown glass sphere rests freely on a thick, concave carved fir base allowing it to be angled in any direction.
            p
              em Plants, rocks and soil are not included.
            p Measures 16.5 cm dia x 17.8 cm h / 6.5 in dia x 7 in h
          p
            strong Categories:
            |  19, 23
          p
            strong Availability:
            |  available
          a(href="/products", class="btn btn-primary") Back